<!-- page content -->
<% if(current_user.isBrand){ %>
  <div class="nav navbar-right panel_toolbox">
    <button type="button" href="#" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#brandProduct-add-modal">Add Product</button>
  </div>
  <div class="modal fade" id="brandProduct-add-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Add Product</h4>
        </div>
        <div class="modal-body">
          <form data-parsley-validate class="form-horizontal form-label-left" action="/products/add" method="post">
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Title <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" name="title" required="required" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Barcode <span class="required">*</span>

              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" name="barcode" required="required" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">ean <span class="required">*</span>

              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" name="ean" required="required" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">website <span class="required">*</span>

              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" name="website" required="required" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">youtube <span class="required">*</span>

              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" name="youtube" required="required" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">image <span class="required">*</span>

              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" name="image" required="required" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">video <span class="required">*</span>

              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" name="video" required="required" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <button class="btn btn-primary" type="button">Cancel</button>
                <button class="btn btn-primary" type="reset">Reset</button>
                <button type="submit" class="btn btn-success">Submit</button>
              </div>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
<% } %>
<div class="right_col" role="main">
  <div class="">
    <div class="x_panel">
                <div class="x_title">
                  <h2> Team Performance </h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <form class="form-inline" method="get" action="/">
                      <div class="form-group">
                        <label>From Date:</label>
                        <input type="date" class="form-control has-feedback-left" id="fromDate" name="start_date" placeholder="First Name">
                      </div>
                      <div class="form-group">
                        <label>To Date:</label>
                        <input type="date" class="form-control has-feedback-left" id="toDate" name="end_date" placeholder="First Name">
                      </div>
                      <div class="form-group">
                        <input type="submit" class="form-control" value="Search">
                      </div>
                    </form>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">


                  <div class="" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                      <!-- <li role="presentation" class=""><a href="#tab_content1" id="overview-tab" role="tab" data-toggle="tab" aria-expanded="true">Overview</a>
                      </li> -->
                      <li role="presentation" class="active"><a href="#tab_content2" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Known Records</a>
                      </li>
                      <% if(!current_user.isBrand){%>
                      <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">unKnown Records</a>
                      </li>
                      <%}%>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                      <!-- <div role="tabpanel" class="tab-pane fade" id="tab_content1" aria-labelledby="overview-tab">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="col-md-6">
                              Graph 1
                            </div>
                            <div class="col-md-6">
                              Graph
                            </div>
                          </div>
                        </div>
                      </div> -->
                      <div role="tabpanel" class="tab-pane fade active in" id="tab_content2" aria-labelledby="home-tab">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="x_panel">
                              <div class="x_content">
                                <!-- start project list -->
                                <table id="knownProducts" class="table table-striped projects" cellspacing="0" width="100%">
                                  <thead>
                                    <tr>
                                      <th>_id</th>
                                      <th>barcode</th>
                                      <th>title</th>
                                      <th>brand</th>
                                      <th>name</th>
                                      <th>ean</th>
                                      <th>category1</th>
                                    </tr>
                                  </thead>
                                </table>
                                <!-- end project list -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="x_panel">
                              <div class="x_content">

                                <!-- start project list -->
                                <table class="table table-striped projects datatables">

                                      <thead>
                                        <tr>
                                          <th>#</th>
                                          <th>Company Name</th>
                                          <th>Type</th>
                                          <th>Date</th>
                                          <th>Description</th>
                                          <th>Sales</th>
                                          <th>Technical Sales</th>
                                        </tr>
                                      </thead>
                                  <tbody>
                                    <% for(var i=0; i<dashData.actions.length; i++){ %>
                                    <tr>
                                      <td scope="row">
                                        <%= i %>
                                      </td>
                                      <td>
                                        <%= dashData.actions[i].company_name %>
                                      </td>
                                      <td>
                                        <%= dashData.actions[i].actions.type %>
                                      </td>
                                      <td>
                                        <%= dashData.actions[i].actions.date %>
                                      </td>
                                      <td>
                                        <%= dashData.actions[i].actions.description %>
                                      </td>
                                      <td>
                                        <% if ( dashData.actions[i].sales) { %>
                                          <%=  dashData.actions[i].sales %>
                                        <% } else { %>
                                          N/A
                                        <% } %>
                                      </td>
                                      <td>
                                        <% if ( dashData.actions[i].technical_sales) { %>
                                          <%=  dashData.actions[i].technical_sales %>
                                        <% } else { %>
                                          N/A
                                        <% } %>
                                      </td>
                                      <td>
                                        <a href="/prospects/view/<%=  dashData.actions[i].pros_id %>" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                      </td>
                                    </tr>
                                    <% } %>
                                  </tbody>
                                </table>
                                <!-- end project list -->

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
  </div>
</div>
<script>
    $(document).ready(function() {
        $('#knownProducts').DataTable( {
            "processing": true,
            "serverSide": true,
            "hideEmptyCols": ['_id'],
          //  "hideEmptyCols": true,
            "buttons": [ 'columnsToggle' ],
            "ajax": {
                    "url": "/index/api/dbTest",
                    "type": "POST",
                    "datatype": "json"
                },
          "columns" : [
                        { "data": "_id", "autoWidth": true,"searchable":false,"visible":false,"hideIfEmpty":true },
                        { "data": "barcode", "autoWidth": true,"searchable":true,"hideIfEmpty":true },
                        { "data": "title", "autoWidth": true,"searchable":true,"hideIfEmpty":true },
                        { "data": "brand", "autoWidth": true,"searchable":false,"hideIfEmpty":true },
                        { "data": "name", "autoWidth": true,"searchable":true,"hideIfEmpty":true },
                        { "data": "ean", "autoWidth": true,"searchable":false,"hideIfEmpty":true },
                        { "data": "category1", "autoWidth": true,"searchable":false,"hideIfEmpty":true },
                    ]

        } );
        $.fn.dataTable.ext.errMode = 'none';
    } );
</script>
<!-- /page content -->
