<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="x_panel">
                <div class="x_title">
                  <h2> Team Performance </h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <form class="form-inline" method="get" action="/">
                      <div class="form-group">
                        <label>From Date:</label>
                        <input type="date" class="form-control has-feedback-left" id="fromDate" name="start_date" placeholder="First Name">
                      </div>
                      <div class="form-group">
                        <label>To Date:</label>
                        <input type="date" class="form-control has-feedback-left" id="toDate" name="end_date" placeholder="First Name">
                      </div>
                      <div class="form-group">
                        <input type="submit" class="form-control" value="Search">
                      </div>
                    </form>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">


                  <div class="" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                      <!-- <li role="presentation" class=""><a href="#tab_content1" id="overview-tab" role="tab" data-toggle="tab" aria-expanded="true">Overview</a>
                      </li> -->
                      <li role="presentation" class="active"><a href="#tab_content2" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Known Records</a>
                      </li>
                      <% if(!current_user.isBrand){%>
                      <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">unKnown Records</a>
                      </li>
                      <%}%>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                      <!-- <div role="tabpanel" class="tab-pane fade" id="tab_content1" aria-labelledby="overview-tab">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="col-md-6">
                              Graph 1
                            </div>
                            <div class="col-md-6">
                              Graph
                            </div>
                          </div>
                        </div>
                      </div> -->
                      <div role="tabpanel" class="tab-pane fade active in" id="tab_content2" aria-labelledby="home-tab">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="x_panel">
                              <div class="x_content">
                                <!-- start project list -->
                                <table id="knownProducts" class="table table-striped projects" cellspacing="0" width="100%">
                                  <thead>
                                    <tr>
                                      <th>_id</th>
                                      <th>barcode</th>
                                      <th>title</th>
                                      <th>brand</th>
                                      <th>name</th>
                                      <th>ean</th>
                                      <th>category1</th>
                                    </tr>
                                  </thead>
                                </table>
                                <!-- end project list -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="x_panel">
                              <div class="x_content">

                                <!-- start project list -->
                                <table class="table table-striped projects datatables">

                                      <thead>
                                        <tr>
                                          <th>#</th>
                                          <th>Company Name</th>
                                          <th>Type</th>
                                          <th>Date</th>
                                          <th>Description</th>
                                          <th>Sales</th>
                                          <th>Technical Sales</th>
                                        </tr>
                                      </thead>
                                  <tbody>
                                    <% for(var i=0; i<dashData.actions.length; i++){ %>
                                    <tr>
                                      <td scope="row">
                                        <%= i %>
                                      </td>
                                      <td>
                                        <%= dashData.actions[i].company_name %>
                                      </td>
                                      <td>
                                        <%= dashData.actions[i].actions.type %>
                                      </td>
                                      <td>
                                        <%= dashData.actions[i].actions.date %>
                                      </td>
                                      <td>
                                        <%= dashData.actions[i].actions.description %>
                                      </td>
                                      <td>
                                        <% if ( dashData.actions[i].sales) { %>
                                          <%=  dashData.actions[i].sales %>
                                        <% } else { %>
                                          N/A
                                        <% } %>
                                      </td>
                                      <td>
                                        <% if ( dashData.actions[i].technical_sales) { %>
                                          <%=  dashData.actions[i].technical_sales %>
                                        <% } else { %>
                                          N/A
                                        <% } %>
                                      </td>
                                      <td>
                                        <a href="/prospects/view/<%=  dashData.actions[i].pros_id %>" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                      </td>
                                    </tr>
                                    <% } %>
                                  </tbody>
                                </table>
                                <!-- end project list -->

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
  </div>
</div>
<script>
    $(document).ready(function() {
        $('#knownProducts').DataTable( {
            "processing": true,
            "serverSide": true,
            "hideEmptyCols": ['_id'],
          //  "hideEmptyCols": true,
            "buttons": [ 'columnsToggle' ],
            "ajax": {
                    "url": "/index/api/dbTest",
                    "type": "POST",
                    "datatype": "json"
                },
          "columns" : [
                        { "data": "_id", "autoWidth": true,"searchable":false,"visible":false,"hideIfEmpty":true },
                        { "data": "barcode", "autoWidth": true,"searchable":true,"hideIfEmpty":true },
                        { "data": "title", "autoWidth": true,"searchable":true,"hideIfEmpty":true },
                        { "data": "brand", "autoWidth": true,"searchable":false,"hideIfEmpty":true },
                        { "data": "name", "autoWidth": true,"searchable":true,"hideIfEmpty":true },
                        { "data": "ean", "autoWidth": true,"searchable":false,"hideIfEmpty":true },
                        { "data": "category1", "autoWidth": true,"searchable":false,"hideIfEmpty":true },
                    ]

        } );
        $.fn.dataTable.ext.errMode = 'none';
    } );
</script>
<!-- /page content -->
