<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3><%= product.name %>'s <small> Details</small></h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">
          <div class="x_title">
            <h2><%= product.name %>'s Prospects</h2>
            <% if(current_user.type !== "Spectator"){ %>
            <div class="nav navbar-right panel_toolbox">
              <a href="/products/edit/<%= product._id %>" class="btn btn-sm btn-primary">Edit Product</a>
            </div>
            <% } %>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="col-md-9 col-sm-9 col-xs-12" style="overflow: auto;">
              <br />
              <table class="table table-striped projects">
                <thead>
                  <tr>
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Contact Name</th>
                        <th>Contact Info</th>
                        <th>Company Name</th>
                        <th>Description</th>
                        <th>Creator</th>
                        <th>Sales</th>
                        <th>Technical Sales</th>
                        <th>Progression to SC</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                  </tr>
                </thead>
                <tbody>
                  <% for(var i=0; i<prospects.length; i++){ %>
                  <tr>
                    <th scope="row">
                      <%= i %>
                    </th>
                    <td>
                      <%= prospects[i].contact_name %>
                    </td>
                    <td>
                      <%= prospects[i].contact_info %>
                    </td>
                    <td>
                      <%= prospects[i].company_name %>
                    </td>
                    <td>
                      <%= prospects[i].description %>
                    </td>
                    <td>
                      <%= prospects[i].creator %>
                    </td>
                    <td>
                      <% if (prospects[i].sales) { %>
                        <%= prospects[i].sales.full_name %>
                      <% } else { %>
                        N/A
                      <% } %>
                    </td>
                    <td>
                      <% if (prospects[i].technical_sales) { %>
                        <%= prospects[i].technical_sales.full_name %>
                      <% } else { %>
                        N/A
                      <% } %>
                    </td>
                    <td class="project_progress">
                      <div class="progress progress_sm">
                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="<%= prospects[i].progression %>"></div>
                      </div>
                      <small><%= prospects[i].progression %>% Complete</small>
                    </td>
                    <td>
                      <a href="/prospects/view/<%= prospects[i]._id %>" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                    </td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>

            <!-- start project-detail sidebar -->
            <div class="col-md-3 col-sm-3 col-xs-12">
              <section class="panel">
                <div class="x_title">
                  <h2><%= product.name %>'s Description</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                  <div class="project_detail">
                    <p class="title"></p>
                    <p>
                      <%= product.description %>
                    </p>
                    <p class="title"></p>
                    <p>
                      <%=  %>
                    </p>
                  </div>

                  <br />
                </div>

              </section>

            </div>
            <!-- end project-detail sidebar -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->
