<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Projects <small>View, Edit and Delete projects!</small></h3>
      </div>
      <div class="title_right">
        <div class="nav navbar-right panel_toolbox">
          <button type="button" href="#" id="add-project-button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#users-add-modal">Add Project</button>
        </div>
        <div class="modal fade" id="users-add-modal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Add Project</h4>
              </div>
              <div class="modal-body">
                <div id="wizard" class="form_wizard wizard_horizontal">
                  <ul class="wizard_steps">
                    <li>
                      <a href="#step-1">
                        <span class="step_no">1</span>
                        <span class="step_descr">Project Details</span>
                      </a>
                    </li>
                    <li>
                      <a href="#step-2">
                        <span class="step_no">2</span>
                        <span class="step_descr">Indices Used</span>
                      </a>
                    </li>
                    <li>
                      <a href="#step-3">
                        <span class="step_no">3</span>
                        <span class="step_descr">Project Parameter</span>
                      </a>
                    </li>
                    <li>
                      <a href="#step-4">
                        <span class="step_no">4</span>
                        <span class="step_descr">Confirmation</span>
                      </a>
                    </li>
                  </ul>
                  <div id="step-1" class="stepContainer">
                    <form class="form-horizontal form-label-left">
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="serial">Serial <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="serial" name="serial" required="required" class="form-control col-md-7 col-xs-12" readonly>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Project Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="name" name="name" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Project Description <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="description" name="description" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="owningEntity">Owning Entity<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="owningEntity" name="owningEntity" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="projectExec">Project Executive<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="projectExec" name="projectExec" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                    </form>

                  </div>
                  <div id="step-2">
                    <div role="tabpanel" data-example-id="togglable-tabs">
                      <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation" class="active">
                          <a href="#tab_EOBD" id="EOBD-tab" role="tab" data-toggle="tab" aria-expanded="true">EOBD</a>
                        </li>
                        <li role="presentation" class="">
                          <a href="#tab_GCI" role="tab" id="GCI-tab" data-toggle="tab" aria-expanded="false">GCI</a>
                        </li>
                        <li role="presentation" class="">
                          <a href="#tab_CPI" role="tab" id="CPI-tab" data-toggle="tab" aria-expanded="false">CPI</a>
                        </li>
                        <li role="presentation" class="">
                          <a href="#tab_WGI" role="tab" id="WGI-tab" data-toggle="tab" aria-expanded="false">WGI</a>
                        </li>
                      </ul>
                      <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_EOBD" aria-labelledby="EOBD-tab">
                          <div>
                              <form class="form-horizontal form-label-left">
                                <input type="checkbox" class="index-checkbox" id="EOBD-check"> Use Ease of Doing Business
                                <div id="EOBD-kpis">
                                  <div class="col-sm-6 col-md-6 col-xs-12">
                                    <label style="display: flex; justify-content: space-between; align-items: center;">
                                      <span><input type="checkbox" id="EOBD-1-check" name="EOBD-1-check" class="flat kpi-checkbox"> Starting a Business</span>
                                      <span>Value: <input type="number" id="EOBD-1-value"></span>
                                    </label>
                                  </div>
                                  <div class="col-sm-6 col-md-6 col-xs-12">
                                    <label style="display: flex; justify-content: space-between; align-items: center;">
                                      <span><input type="checkbox" id="EOBD-2-check" name="EOBD-2-check" class="flat kpi-checkbox"> Dealing with Construction Permit</span>
                                      <span>Value: <input type="number" id="EOBD-2-value"></span>
                                    </label>
                                  </div>
                                  <div class="col-sm-6 col-md-6 col-xs-12">
                                    <label style="display: flex; justify-content: space-between; align-items: center;">
                                      <span><input type="checkbox" id="EOBD-3-check" name="EOBD-3-check" class="flat kpi-checkbox"> Getting Electricity</span>
                                      <span>Value: <input type="number" id="EOBD-3-value"></span>
                                    </label>
                                  </div>
                                  <div class="col-sm-6 col-md-6 col-xs-12">
                                    <label style="display: flex; justify-content: space-between; align-items: center;">
                                      <span><input type="checkbox" id="EOBD-4-check" name="EOBD-4-check" class="flat kpi-checkbox"> Registering a Property</span>
                                      <span>Value: <input type="number" id="EOBD-4-value"></span>
                                    </label>
                                  </div>
                                  <div class="col-sm-6 col-md-6 col-xs-12">
                                    <label style="display: flex; justify-content: space-between; align-items: center;">
                                      <span><input type="checkbox" id="EOBD-5-check" name="EOBD-5-check" class="flat kpi-checkbox"> Getting Credit</span>
                                      <span>Value: <input type="number" id="EOBD-5-value"></span>
                                    </label>
                                  </div>
                                  <div class="col-sm-6 col-md-6 col-xs-12">
                                    <label style="display: flex; justify-content: space-between; align-items: center;">
                                      <span><input type="checkbox" id="EOBD-6-check" name="EOBD-6-check" class="flat kpi-checkbox"> Protecting Minority Investors</span>
                                      <span>Value: <input type="number" id="EOBD-6-value"></span>
                                    </label>
                                  </div>
                                  <div class="col-sm-6 col-md-6 col-xs-12">
                                    <label style="display: flex; justify-content: space-between; align-items: center;">
                                      <span><input type="checkbox" id="EOBD-7-check" name="EOBD-7-check" class="flat kpi-checkbox"> Paying Taxes</span>
                                      <span>Value: <input type="number" id="EOBD-7-value"></span>
                                    </label>
                                  </div>
                                  <div class="col-sm-6 col-md-6 col-xs-12">
                                    <label style="display: flex; justify-content: space-between; align-items: center;">
                                      <span><input type="checkbox" id="EOBD-8-check" name="EOBD-8-check" class="flat kpi-checkbox"> Trading Across Borders</span>
                                      <span>Value: <input type="number" id="EOBD-8-value" name="EOBD-8-value"></span>
                                    </label>
                                  </div>
                                  <div class="col-sm-6 col-md-6 col-xs-12">
                                    <label style="display: flex; justify-content: space-between; align-items: center;">
                                      <span><input type="checkbox" id="EOBD-9-check" name="EOBD-9-check" class="flat kpi-checkbox"> Enforcing Contracts</span>
                                      <span>Value: <input type="number" id="EOBD-9-value" name="EOBD-9-value"></span>
                                    </label>
                                  </div>
                                  <div class="col-sm-6 col-md-6 col-xs-12">
                                    <label style="display: flex; justify-content: space-between; align-items: center;">
                                      <span><input type="checkbox" id="EOBD-10-check" name="EOBD-10-check" class="flat kpi-checkbox"> Resolving Insolvency</span>
                                      <span>Value: <input type="number" id="EOBD-10-value" name="EOBD-10-value"></span>
                                    </label>
                                  </div>
                                </div>
                              </form>
                          </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_GCI" aria-labelledby="GCI-tab">
                            <div>
                                <form class="form-horizontal form-label-left">
                                  <input type="checkbox" class="index-checkbox" id="GCI-check"> Use Global Competitiveness Index
                                  <div id="GCI-kpis">
                                    <div class="col-sm-6 col-md-6 col-xs-12">
                                      <label style="display: flex; justify-content: space-between; align-items: center;">
                                        <span><input type="checkbox" id="GCI-1-check" name="GCI-1-check" class="flat kpi-checkbox"> Political Instability</span>
                                        <span>Value: <input type="number" id="GCI-1-value"></span>
                                      </label>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-xs-12">
                                      <label style="display: flex; justify-content: space-between; align-items: center;">
                                        <span><input type="checkbox" id="GCI-2-check" name="GCI-2-check" class="flat kpi-checkbox"> Inflation</span>
                                        <span>Value: <input type="number" id="GCI-2-value"></span>
                                      </label>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-xs-12">
                                      <label style="display: flex; justify-content: space-between; align-items: center;">
                                        <span><input type="checkbox" id="GCI-3-check" name="GCI-3-check" class="flat kpi-checkbox"> Corruption</span>
                                        <span>Value: <input type="number" id="GCI-3-value"></span>
                                      </label>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-xs-12">
                                      <label style="display: flex; justify-content: space-between; align-items: center;">
                                        <span><input type="checkbox" id="GCI-4-check" name="GCI-4-check" class="flat kpi-checkbox"> <span style="font-size: 0.85em">Inefficient Government Bureaucracy</span></span>
                                        <span>Value: <input type="number" id="GCI-4-value"></span>
                                      </label>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-xs-12">
                                      <label style="display: flex; justify-content: space-between; align-items: center;">
                                        <span><input type="checkbox" id="GCI-5-check" name="GCI-5-check" class="flat kpi-checkbox"> Inadequately Educated Workfoce</span>
                                        <span>Value: <input type="number" id="GCI-5-value"></span>
                                      </label>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-xs-12">
                                      <label style="display: flex; justify-content: space-between; align-items: center;">
                                        <span><input type="checkbox" id="GCI-6-check" name="GCI-6-check" class="flat kpi-checkbox"> Access to Financing</span>
                                        <span>Value: <input type="number" id="GCI-6-value"></span>
                                      </label>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-xs-12">
                                      <label style="display: flex; justify-content: space-between; align-items: center;">
                                        <span><input type="checkbox" id="GCI-7-check" name="GCI-7-check" class="flat kpi-checkbox"> Tax Rates</span>
                                        <span>Value: <input type="number" id="GCI-7-value"></span>
                                      </label>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-xs-12">
                                      <label style="display: flex; justify-content: space-between; align-items: center;">
                                        <span><input type="checkbox" id="GCI-8-check" name="GCI-8-check" class="flat kpi-checkbox"> Foreign Currency Regulations</span>
                                        <span>Value: <input type="number" id="GCI-8-value" name="GCI-8-value"></span>
                                      </label>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-xs-12">
                                      <label style="display: flex; justify-content: space-between; align-items: center;">
                                        <span><input type="checkbox" id="GCI-9-check" name="GCI-9-check" class="flat kpi-checkbox"> Poor Work Ethic</span>
                                        <span>Value: <input type="number" id="GCI-9-value" name="GCI-9-value"></span>
                                      </label>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-xs-12">
                                      <label style="display: flex; justify-content: space-between; align-items: center;">
                                        <span><input type="checkbox" id="GCI-10-check" name="GCI-10-check" class="flat kpi-checkbox"> <span style="font-size: 0.85em">Inadequate Supply of Infrastructure</span></span>
                                        <span>Value: <input type="number" id="GCI-10-value" name="GCI-10-value"></span>
                                      </label>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-xs-12">
                                      <label style="display: flex; justify-content: space-between; align-items: center;">
                                        <span><input type="checkbox" id="GCI-9-check" name="GCI-11-check" class="flat kpi-checkbox"> Government Stability</span>
                                        <span>Value: <input type="number" id="GCI-9-value" name="GCI-11-value"></span>
                                      </label>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-xs-12">
                                      <label style="display: flex; justify-content: space-between; align-items: center;">
                                        <span><input type="checkbox" id="GCI-10-check" name="GCI-12-check" class="flat kpi-checkbox"> Restrictive Labor Regulations</span>
                                        <span>Value: <input type="number" id="GCI-10-value" name="GCI-12-value"></span>
                                      </label>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-xs-12">
                                      <label style="display: flex; justify-content: space-between; align-items: center;">
                                        <span><input type="checkbox" id="GCI-9-check" name="GCI-13-check" class="flat kpi-checkbox"> Tax Regulations</span>
                                        <span>Value: <input type="number" id="GCI-9-value" name="GCI-13-value"></span>
                                      </label>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-xs-12">
                                      <label style="display: flex; justify-content: space-between; align-items: center;">
                                        <span><input type="checkbox" id="GCI-10-check" name="GCI-14-check" class="flat kpi-checkbox"> Insufficient Capacity to Innovate</span>
                                        <span>Value: <input type="number" id="GCI-10-value" name="GCI-14-value"></span>
                                      </label>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-xs-12">
                                      <label style="display: flex; justify-content: space-between; align-items: center;">
                                        <span><input type="checkbox" id="GCI-9-check" name="GCI-15-check" class="flat kpi-checkbox"> Poor Public Health</span>
                                        <span>Value: <input type="number" id="GCI-9-value" name="GCI-15-value"></span>
                                      </label>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-xs-12">
                                      <label style="display: flex; justify-content: space-between; align-items: center;">
                                        <span><input type="checkbox" id="GCI-10-check" name="GCI-16-check" class="flat kpi-checkbox"> Crime and Theft</span>
                                        <span>Value: <input type="number" id="GCI-10-value" name="GCI-16-value"></span>
                                      </label>
                                    </div>
                                  </div>
                                </form>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_CPI" aria-labelledby="CPI-tab">
                          <div>
                              <form class="form-horizontal form-label-left">
                                <input type="checkbox" class="index-checkbox" id="CPI-check"> Use Corruption Perception Index
                                <div id="CPI-kpis">
                                  <div class="col-sm-6 col-md-6 col-xs-12">
                                    <label style="display: flex; justify-content: space-between; align-items: center;">
                                      <span><input type="checkbox" id="CPI-1-check" name="CPI-1-check" class="flat kpi-checkbox"> World Economic Forum EOS</span>
                                      <span>Value: <input type="number" id="CPI-1-value"></span>
                                    </label>
                                  </div>
                                  <div class="col-sm-6 col-md-6 col-xs-12">
                                    <label style="display: flex; justify-content: space-between; align-items: center;">
                                      <span><input type="checkbox" id="CPI-2-check" name="CPI-2-check" class="flat kpi-checkbox"> <span style="font-size: 0.85em">Global Insight Country Risk Ratings</span></span>
                                      <span>Value: <input type="number" id="CPI-2-value"></span>
                                    </label>
                                  </div>
                                  <div class="col-sm-6 col-md-6 col-xs-12">
                                    <label style="display: flex; justify-content: space-between; align-items: center;">
                                      <span><input type="checkbox" id="CPI-3-check" name="CPI-3-check" class="flat kpi-checkbox"> <span style="font-size: 0.7em">Bertelsmann Foundation Transformation Index</span></span>
                                      <span>Value: <input type="number" id="CPI-3-value"></span>
                                    </label>
                                  </div>
                                  <div class="col-sm-6 col-md-6 col-xs-12">
                                    <label style="display: flex; justify-content: space-between; align-items: center;">
                                      <span><input type="checkbox" id="CPI-4-check" name="CPI-4-check" class="flat kpi-checkbox"> <span style="font-size: 0.85em">World Justice Project Rule of Law Index</span></span>
                                      <span>Value: <input type="number" id="CPI-4-value"></span>
                                    </label>
                                  </div>
                                  <div class="col-sm-6 col-md-6 col-xs-12">
                                    <label style="display: flex; justify-content: space-between; align-items: center;">
                                      <span><input type="checkbox" id="CPI-5-check" name="CPI-5-check" class="flat kpi-checkbox"> <span style="font-size: 0.85em">PRS International Country Risk Guide</span></span>
                                      <span>Value: <input type="number" id="CPI-5-value"></span>
                                    </label>
                                  </div>
                                  <div class="col-sm-6 col-md-6 col-xs-12">
                                    <label style="display: flex; justify-content: space-between; align-items: center;">
                                      <span><input type="checkbox" id="CPI-6-check" name="CPI-6-check" class="flat kpi-checkbox"> <span style="font-size: 0.75em">Economist Intelligence Unit Country Ratings</span></span>
                                      <span>Value: <input type="number" id="CPI-6-value"></span>
                                    </label>
                                  </div>
                                </div>
                              </form>
                          </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_WGI" aria-labelledby="WGI-tab">
                          <div>
                              <form class="form-horizontal form-label-left">
                                <input type="checkbox" class="index-checkbox" id="WGI-check"> Use World Governance Indicators
                                <div id="WGI-kpis">
                                  <div class="col-sm-6 col-md-6 col-xs-12">
                                    <label style="display: flex; justify-content: space-between; align-items: center;">
                                      <span><input type="checkbox" id="WGI-1-check" name="WGI-1-check" class="flat kpi-checkbox"> Voice and Accountablility</span>
                                      <span>Value: <input type="number" id="WGI-1-value"></span>
                                    </label>
                                  </div>
                                  <div class="col-sm-6 col-md-6 col-xs-12">
                                    <label style="display: flex; justify-content: space-between; align-items: center;">
                                      <span><input type="checkbox" id="WGI-2-check" name="WGI-2-check" class="flat kpi-checkbox"> Political Stability</span>
                                      <span>Value: <input type="number" id="WGI-2-value"></span>
                                    </label>
                                  </div>
                                  <div class="col-sm-6 col-md-6 col-xs-12">
                                    <label style="display: flex; justify-content: space-between; align-items: center;">
                                      <span><input type="checkbox" id="WGI-3-check" name="WGI-3-check" class="flat kpi-checkbox"> Government Effectiveness</span>
                                      <span>Value: <input type="number" id="WGI-3-value"></span>
                                    </label>
                                  </div>
                                  <div class="col-sm-6 col-md-6 col-xs-12">
                                    <label style="display: flex; justify-content: space-between; align-items: center;">
                                      <span><input type="checkbox" id="WGI-4-check" name="WGI-4-check" class="flat kpi-checkbox"> Regulatory Quality</span>
                                      <span>Value: <input type="number" id="WGI-4-value"></span>
                                    </label>
                                  </div>
                                  <div class="col-sm-6 col-md-6 col-xs-12">
                                    <label style="display: flex; justify-content: space-between; align-items: center;">
                                      <span><input type="checkbox" id="WGI-5-check" name="WGI-5-check" class="flat kpi-checkbox"> Rule of Law</span>
                                      <span>Value: <input type="number" id="WGI-5-value"></span>
                                    </label>
                                  </div>
                                  <div class="col-sm-6 col-md-6 col-xs-12">
                                    <label style="display: flex; justify-content: space-between; align-items: center;">
                                      <span><input type="checkbox" id="WGI-6-check" name="WGI-6-check" class="flat kpi-checkbox"> Control of Corruption</span>
                                      <span>Value: <input type="number" id="WGI-6-value"></span>
                                    </label>
                                  </div>
                                </div>
                              </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="step-3">
                    <form class="form-horizontal form-label-left">
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="plannedBudget">Planned Budget<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="number" min="0.01" step="0.01" id="plannedBudget" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="plannedDuration">Planned Duration<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="number" min="1" step="1" id="plannedDuration" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Start Date<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="startDate" class="form-control col-md-7 col-xs-12" required="required" type="date">
                        </div>
                      </div>
                    </form>
                  </div>
                  <div id="step-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                      in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                      in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                  </div>
                </div>
                <script>
                  $("#add-project-button").click(function(){
                    fetchSerial();
                    $(".stepContainer").height(220);
                    $('.buttonFinish').click(function(){
                      submitForm();
                    });
                  });
                  function fetchSerial(){
                    $.ajax({
                       type: "POST",
                       url: "/getSerial",
                       dataType: "json",
                       success: function(val){
                         $("#serial").val(val);
                       }
                    });
                  }
                  function submitForm(){
                    var data = {
                      serial: $("#serial").val(),
                      name: $("#name").val(),
                      description: $("#description").val(),
                      owningEntity: $("#owningEntity").val(),
                      projectExec: $("#projectExec").val(),
                      indecies: [],
                      plannedBudget: $("#plannedBudget").val(),
                      plannedDuration: $("#plannedDuration").val(),
                      startDate: $("#startDate").val()
                    };

                    var indecies = ["EOBD","GCI","CPI","WGI"];

                    for(var i=0; i<indecies.length; i++){
                      if($("#"+indecies[i]+"-check").prop("checked")){
                        var indexObj = {
                          name: indecies[i],
                          KPIs: []
                        };
                        $("#"+indecies[i]+"-kpis").find("input:checkbox").each(function(){
                          if($(this).prop("checked")){
                            var tempArr = $(this).attr("id").split("-");
                            tempArr[2] = "value";
                            var valName = "#"+tempArr.join('-');
                            indexObj.KPIs.push({
                              name: tempArr[1],
                              value: $(valName).val()
                            });
                          }
                        });
                        data.indecies.push(indexObj);
                      }
                    }

                    console.log(JSON.stringify(data));

                    $.ajax({
                       type: "POST",
                       url: "/add",
                       dataType: "json",
                       data: {data: JSON.stringify(data)},
                       beforeSend: function(){

                       },
                       success: function(){
                         window.location.href = window.location.href;
                       }
                    });
                  }

                  $("#EOBD-kpis").find("input").prop("disabled", true);
                  $("#GCI-kpis").find("input").prop("disabled", true);
                  $("#CPI-kpis").find("input").prop("disabled", true);
                  $("#WGI-kpis").find("input").prop("disabled", true);

                  $(".index-checkbox").click(function(){
                    var nameArr = $(this).attr("id").split("-");
                    nameArr = nameArr[0];
                    if($(this).prop("checked")){
                      $("#"+nameArr+"-kpis").find("input.kpi-checkbox").prop("disabled", false);
                    }else{
                      $("#"+nameArr+"-kpis").find("input.kpi-checkbox").prop("disabled", true);
                    }
                  });

                  $(".kpi-checkbox").click(function(){
                    var tempArr = $(this).attr("id").split("-");
                    tempArr[2] = "value";
                    var target_id = "#"+tempArr.join("-");
                    if($(this).prop("checked")){
                      $(target_id).prop("disabled", false);
                    }else{
                      $(target_id).prop("disabled", true);
                    }
                  });
                </script>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Overall Budget Consumption </h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content"><iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px none; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
          <canvas id="pieChart1" style="width: 483px; height: 241px;" width="483" height="241"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Overall Progress </h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content"><iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px none; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
          <canvas id="pieChart2" style="width: 483px; height: 241px;" width="483" height="241"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Overall Usage of Index </h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content"><iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px none; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
          <canvas id="pieChart3" style="width: 483px; height: 241px;" width="483" height="241"></canvas>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $.ajax({
         type: "GET",
         url: "/obc",
         dataType: "json",
         success: function(val){
           var data1 = {
             datasets: [{
               data: val,
               backgroundColor: [
                 "#26B99A",
                 "#3498DB"
               ],
               label: 'My dataset' // for legend
             }],
             labels: [
               "Consumed",
               "Allocated"
             ]
           };

           var pieChart = new Chart($("#pieChart1"), {
           data: data1,
           type: 'pie'
           });
         }
      });

      $.ajax({
         type: "GET",
         url: "/op",
         dataType: "json",
         success: function(val){
           var data2 = {
             datasets: [{
               data: val,
               backgroundColor: [
                 "#26B99A",
                 "#3498DB"
               ],
               label: 'My dataset' // for legend
             }],
             labels: [
               "Finished",
               "In Progress"
             ]
           };

           var pieChart = new Chart($("#pieChart2"), {
           data: data2,
           type: 'pie'
           });
         }
      });

      $.ajax({
         type: "GET",
         url: "/oui",
         dataType: "json",
         success: function(val){
           var data3 = {
             datasets: [{
               data: val,
               backgroundColor: [
               "#455C73",
               "#9B59B6",
               "#26B99A",
               "#3498DB"
               ],
               label: 'My dataset' // for legend
             }],
             labels: [
               "EOBD",
               "GCI",
               "CPI",
               "WGI"
             ]
           };

           var pieChart = new Chart($("#pieChart3"), {
             data: data3,
             type: 'pie'
           });
         }
      });
    </script>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Projects</h2>
          <div class="nav navbar-right panel_toolbox">

          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">

          <!-- start project list -->
          <table class="table table-striped projects">
            <thead>
              <tr>
                <thead>
                  <tr>
                    <th>Project Status</th>
                    <th>Actual Percentage Completion</th>
                    <th>Planned Percentage Completion</th>
                    <th>Project Name</th>
                    <th>Project Description</th>
                    <th>Project Owning Entity</th>
                    <th>Project Executive</th>
                    <th>Planned End Date</th>
                    <th>End Date</th>
                    <th>Actions</th>
                  </tr>
                </thead>
              </tr>
            </thead>
            <tbody>
                <% for(var i=0; i<projects.length; i++){ %>
                  <tr>
                    <td>
                      <div style="height: 40px; width: 40px; background-color:<%= projects[i].status %>; border-radius: 20px;"></div>
                    </td>
                    <td>
                      <%= projects[i].actualPerc %>
                    </td>
                    <td>
                      <%= projects[i].plannedPerc %>
                    </td>
                    <td>
                      <%= projects[i].name %>
                    </td>
                    <td>
                      <%= projects[i].description %>
                    </td>
                    <td>
                      <%= projects[i].owningEntity %>
                    </td>
                    <td>
                      <%= projects[i].projectExec %>
                    </td>
                    <td>
                      <%= projects[i].plannedEndDate %>
                    </td>
                    <td>
                      <%= projects[i].actualEndDate %>
                    </td>
                    <td>
                      <a href="/view/<%= projects[i]._id %>" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                      <a href="/edit/<%= projects[i]._id %>" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                    </td>
                  </tr>
                <% } %>
            </tbody>
          </table>
          <!-- end project list -->

        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>


</div>
</div>
</div>
<!-- /page content -->
