<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Project Detail</h3>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">
          <div class="x_title">
            <h2><%= project.name %></h2>
            <ul class="nav navbar-right panel_toolbox">
                <a href="/edit/<%= project._id %>" class="btn btn-sm btn-primary">Edit project</a>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="col-md-8 col-sm-8 col-xs-12">
              <ul class="stats-overview">
                <li>
                  <span class="name"> Planned Duration </span>
                  <span class="value text-success"> <%= project.plannedDuration %> </span>
                </li>
                <li>
                  <span class="name"> Planned Budget </span>
                  <span class="value text-success">
                    <%= project.plannedBudget %>
                  </span>
                </li>
                <li>
                  <span class="name"> Planned Progress </span>
                  <span class="value text-success">
                    <div class="progress progress_sm">
                      <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="<%= project.plannedPerc %>"></div>
                    </div>
                    <small><%= project.plannedPerc %> % Complete</small>
                  </span>
                </li>
              </ul>
              <ul class="stats-overview">
                <li>
                  <span class="name"> Actual Duration </span>
                  <span class="value text-success"> <%= project.actualDuration||"N/A" %> </span>
                </li>
                <li>
                  <span class="name"> Actual Budget Consumed </span>
                  <span class="value text-success">
                    <%= project.consumedBudget||"N/A" %>
                  </span>
                </li>
                <li>
                  <span class="name"> Actual Progress </span>
                  <span class="value text-success">
                    <div class="progress progress_sm">
                      <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="<%= project.actualPerc %>"></div>
                    </div>
                    <small><%= project.actualPerc %> % Complete</small>
                  </span>
                </li>
              </ul>
              <br />
              <div>
                  <h2>Target</h2>

                  <div class="clearfix"></div>

                  <div id="KPI_Update" role="tabpanel" data-example-id="togglable-tabs">
                    <% var EOBDIndex = project.indecies.find(function(item){return item.name === 'EOBD'}); %>
                    <% var GCIIndex = project.indecies.find(function(item){return item.name === 'GCI'}); %>
                    <% var CPIIndex = project.indecies.find(function(item){return item.name === 'CPI'}); %>
                    <% var WGIIndex = project.indecies.find(function(item){return item.name === 'WGI'}); %>
                    <% var firstTab = true; %>
                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                      <% if(EOBDIndex){%>
                        <li role="presentation" class="">
                          <a href="#tab_EOBD" id="EOBD-tab" role="tab" data-toggle="tab" aria-expanded="true">EOBD</a>
                        </li>
                      <% } %>
                      <% if(GCIIndex){%>
                        <li role="presentation" class="">
                          <a href="#tab_GCI" role="tab" id="GCI-tab" data-toggle="tab" aria-expanded="false">GCI</a>
                        </li>
                      <% } %>
                      <% if(CPIIndex){%>
                        <li role="presentation" class="">
                          <a href="#tab_CPI" role="tab" id="CPI-tab" data-toggle="tab" aria-expanded="false">CPI</a>
                        </li>
                      <% } %>
                      <% if(WGIIndex){%>
                        <li role="presentation" class="">
                          <a href="#tab_WGI" role="tab" id="WGI-tab" data-toggle="tab" aria-expanded="false">WGI</a>
                        </li>
                      <% } %>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                      <% if(EOBDIndex){%>
                        <%if(firstTab){%>
                          <% firstTab = false;%>
                          <div role="tabpanel" class="tab-pane fade active in" id="tab_EOBD" aria-labelledby="EOBD-tab">
                        <% } else { %>
                          <div role="tabpanel" class="tab-pane fade" id="tab_EOBD" aria-labelledby="EOBD-tab">
                        <% } %>

                            <table class="table">
                              <thead>
                                <tr>
                                  <th>KPI</th>
                                  <th>Expected</th>
                                  <th>Actual</th>
                                </tr>
                              </thead>
                              <tbody>
                                <% for(var i=0; i < EOBDIndex.KPIs.length; i++){%>
                                  <tr>
                                    <td><%= EOBDIndex.KPIs[i].name %></td>
                                    <td><%= EOBDIndex.KPIs[i].value %></td>
                                    <td><%= EOBDIndex.KPIs[i].actual||"N/A" %></td>
                                  </tr>
                                <% } %>
                              </tbody>
                            </table>

                        </div>

                      <% } %>
                      <% if(GCIIndex){%>
                        <%if(firstTab){%>
                          <% firstTab = false;%>
                          <div role="tabpanel" class="tab-pane fade active in" id="tab_GCI" aria-labelledby="GCI-tab">
                        <% } else { %>
                          <div role="tabpanel" class="tab-pane fade" id="tab_GCI" aria-labelledby="GCI-tab">
                        <% } %>
                        <table class="table">
                          <thead>
                            <tr>
                              <th>KPI</th>
                              <th>Expected</th>
                              <th>Actual</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% for(var i=0; i < GCIIndex.KPIs.length; i++){%>
                              <tr>
                                <td><%= GCIIndex.KPIs[i].name %></td>
                                <td><%= GCIIndex.KPIs[i].value %></td>
                                <td><%= GCIIndex.KPIs[i].actual||"N/A" %></td>
                              </tr>
                            <% } %>
                          </tbody>
                        </table>
                      </div>
                      <% } %>
                      <% if(CPIIndex){%>
                        <%if(firstTab){%>
                          <% firstTab = false;%>
                          <div role="tabpanel" class="tab-pane fade active in" id="tab_CPI" aria-labelledby="CPI-tab">
                        <% } else { %>
                          <div role="tabpanel" class="tab-pane fade" id="tab_CPI" aria-labelledby="CPI-tab">
                        <% } %>
                        <table class="table">
                          <thead>
                            <tr>
                              <th>KPI</th>
                              <th>Expected</th>
                              <th>Actual</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% for(var i=0; i < CPIIndex.KPIs.length; i++){%>
                              <tr>
                                <td><%= CPIIndex.KPIs[i].name %></td>
                                <td><%= CPIIndex.KPIs[i].value %></td>
                                <td><%= CPIIndex.KPIs[i].actual||"N/A" %></td>
                              </tr>
                            <% } %>
                          </tbody>
                        </table>
                      </div>
                      <% } %>
                      <% if(WGIIndex){%>
                        <%if(firstTab){%>
                          <% firstTab = false;%>
                          <div role="tabpanel" class="tab-pane fade active in" id="tab_WGI" aria-labelledby="WGI-tab">
                        <% } else { %>
                          <div role="tabpanel" class="tab-pane fade" id="tab_WGI" aria-labelledby="WGI-tab">
                        <% } %>
                        <table class="table">
                          <thead>
                            <tr>
                              <th>KPI</th>
                              <th>Expected</th>
                              <th>Actual</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% for(var i=0; i < WGIIndex.KPIs.length; i++){%>
                              <tr>
                                <td><%= WGIIndex.KPIs[i].name %></td>
                                <td><%= WGIIndex.KPIs[i].value %></td>
                                <td><%= WGIIndex.KPIs[i].actual||"N/A" %></td>
                              </tr>
                            <% } %>
                          </tbody>
                        </table>
                      </div>
                      <% } %>
                    </div>
                  </div>

              </div>
            </div>
            <!-- start project-detail sidebar -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <section class="panel">
                <div class="x_title">
                  <h2>Project Description</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                  <p><%= project.description %></p>
                  <br />
                  <div class="project_detail">
                    <h2>Team</h2>
                    <span style="font-weight: bold;"> Owning Entity: </span> <%= project.owningEntity %> <br>
                    <span style="font-weight: bold;"> Project Executive: </span> <%= project.projectExec %> <br>
                    <span style="font-weight: bold;"> Execution and Delivery Entity: </span> <%= project.execEntity||"N/A" %> <br>
                  </div>
                  <br />
                  <div class="project_detail">
                    <h2>Dates</h2>
                      <span style="font-weight: bold;"> Start Date: </span> <%= project.startDateM %> <br>
                      <span style="font-weight: bold;"> End Date: </span> <%= project.endDate %> <br>
                      <span style="font-weight: bold;"> Actual End Date: </span> <%= project.actualEndDate||"N/A" %> <br>
                    </p>
                  </div>
                </div>
              </section>
            </div>
            <!-- end project-detail sidebar -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->
