<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
<<<<<<< HEAD
        <h3>Brands <small>View, Edit and Delete Users!</small></h3>
      </div>
      <div class="title_right">
        <div class="nav navbar-right panel_toolbox">
          <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#brands-add-modal">Add Brand</button>
        </div>
        <div class="modal fade" id="brands-add-modal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Add Brand</h4>
              </div>
              <div class="modal-body">
                <form class="form-horizontal form-label-left " method="post" action="/brands/add">
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Brand Name <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" name="brandName" required="required" class="form-control col-md-7 col-xs-12">
                    </div>
                  </div>
                  <div class="ln_solid"></div>
                  <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <button class="btn btn-primary" data-dismiss="modal" type="button">Cancel</button>
                      <button class="btn btn-primary" type="reset">Reset</button>
                      <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_content">
        <table class="table table-hover projects">
          <thead>
            <tr>
              <th>#</th>
              <th>Brand Name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i<brands.length; i++){ %>
              <tr>
                <th scope="row">
                  <%= i+1 %>
=======
        <h3>Brands <small>View, Edit and Delete brands!</small></h3>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Brands</h2>
          <div class="nav navbar-right panel_toolbox">

          </div>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">

          <!-- start project list -->
          <table class="table table-striped projects">
            <thead>
              <tr>
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Brand Name</th>
                    <th>Actions</th>
                  </tr>
                </thead>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0; i<brands.length; i++){ %>
              <tr>
                <th scope="row">
                  <%= i %>
>>>>>>> 5a1367ef6e45c5f2a8ed301b2a9d82a5e6209b02
                </th>
                <td>
                  <%= brands[i].brandName %>
                </td>
                <td>
<<<<<<< HEAD
                  <a href="brands/view/<%=brands[i]._id%>" class="btn btn-success btn-xs"><i class="fa fa-eye"></i> View </a>
=======
                  <a href="/brands/view/<%= brands[i]._id %>" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
>>>>>>> 5a1367ef6e45c5f2a8ed301b2a9d82a5e6209b02
                  <a href="#" data-info="<%=brands[i]._id%>,brands" class="btn btn-danger btn-xs delete_button"><i class="fa fa-trash-o"></i> Delete </a>
                </td>
              </tr>
              <% } %>
<<<<<<< HEAD
          </tbody>
        </table>
=======
            </tbody>
          </table>
          <!-- end project list -->

        </div>
>>>>>>> 5a1367ef6e45c5f2a8ed301b2a9d82a5e6209b02
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
<<<<<<< HEAD
=======


>>>>>>> 5a1367ef6e45c5f2a8ed301b2a9d82a5e6209b02
</div>
</div>
</div>
<!-- /page content -->
