<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>User Profile</h3>
      </div>


    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>User Report </h2>
            <div class="nav navbar-right panel_toolbox">
              <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#users-add-modal">Add API Key</button>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
              <div class="profile_img">
                <div id="crop-avatar">
                  <!-- Current avatar -->

                </div>
              </div>
              <h3><%= user.full_name %></h3>

              <ul class="list-unstyled user_data">
                <li><i class="fa fa-barcode user-profile-icon"></i> Phone: <%= user.phone %>
                </li>

                <li>
                  <i class="fa fa-user user-profile-icon"></i> Email: <%= user.email %>
                </li>

                <% if(user.isBrand){ %>
                  <li>
                    <i class="fa fa-user user-profile-icon"></i> Type: Brand
                  </li>
                  <li>
                    <i class="fa fa-user user-profile-icon"></i> Brand Name: <%= user.brandName %>
                  </li>
                <% }else{ %>
                  <li>
                    <i class="fa fa-user user-profile-icon"></i> Type: Admin
                  </li>
                <%  } %>

              </ul>

              <a href="/users/edit/<%= user._id %>" class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>Edit User</a>
              <br />


            </div>
            <div class="col-md-9 col-sm-9 col-xs-12">

              <div class="profile_title">
                <div class="col-md-6">
                  <h2>User Activity Report</h2>
                </div>

              </div></br>
              <div class="row">
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="tile-stats">
                    <div class="icon"><i class="fa fa-caret-square-o-right"></i>
                    </div>
                    <div class="count">333</div>

                    <h3> API Calls</h3>
                    <p>Current API Key Calls</p>
                  </div>
                </div>
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="tile-stats">
                    <div class="icon"><i class="fa fa-comments-o"></i>
                    </div>
                    <div class="count">17229</div>

                    <h3> API Calls</h3>
                    <p>Current API Key Limit</p>
                  </div>
                </div>
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="tile-stats">
                    <div class="icon"><i class="fa fa-sort-amount-desc"></i>
                    </div>
                    <div class="count">123123</div>

                    <h3> API Calls</h3>
                    <p>Current API Key Overage</p>
                  </div>
                </div>
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="tile-stats">
                    <div class="icon"><i class="fa fa-caret-square-o-right"></i>
                    </div>
                    <div class="count">333</div>

                    <h3> Days Left</h3>
                    <p>Days left in the current Key</p>
                  </div>
                </div>
              </div>
              <div class="" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">All Keys</a>
                  </li>
                  <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Current Key</a>
                  </li>
                  <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Usage Report</a>
                  </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                  <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Key</th>
                          <th>User Name</th>
                          <th>User Brand</th>
                          <th>Limit</th>
                          <th>Expiry Date</th>
                          <th>Overage</th>
                        </tr>
                      </thead>
                      <tbody>
                          <tr>
                            <th scope="row">
                               1
                            </th>
                            <td>
                               Lorem ipsum dolor.
                            </td>
                            <td>
                               Bosch Dep 1
                            </td>
                            <td>
                               Bosch
                            </td>
                            <td>
                               10000
                            </td>
                            <td>
                               12-3-2019
                            </td>
                            <td>
                               233
                            </td>
                            <td>
                              <a href="users/view/1" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                              <a href="users/edit/1" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                              <a href="#" data-info="1,users" class="btn btn-danger btn-xs delete_button"><i class="fa fa-trash-o"></i> Delete </a>
                            </td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                          <div class="x_title">
                            <h2>KEYHASH<small>Usage Report</small></h2>
                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content">
                            <canvas id="keyUsage"></canvas>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                    <p>xxFood truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo
                      booth letterpress, commodo enim craft beer mlkshk </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Start Add API KEY Modal -->
<div class="modal fade" id="users-add-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Add API Key</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-label-left " method="post" action="/apiKeys/add">
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"> Limit <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="number" name="limit" required="required" class="form-control col-md-7 col-xs-12">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name"> Expiry Date <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="date" name="expiry" required="required" class="form-control col-md-7 col-xs-12">
            </div>
          </div>
          <input type="text" name="user" value="<%= user._id %>" style="display:none;">
          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
              <button class="btn btn-primary" data-dismiss="modal" type="button">Cancel</button>
              <button class="btn btn-primary" type="reset">Reset</button>
              <button type="submit" class="btn btn-success">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End Add API Key Modal-->

<!-- Start Add API KEY Modal -->

<!-- End Add API Key Modal-->

<!-- Start Add API KEY Modal -->

<!-- End Add API Key Modal-->
<script>
  window.onload = function(){
    function showChart(){
      var ctx = document.getElementById("keyUsage");
      var lineChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: ["Sunday", "Monday", "Tuesday", "April", "May", "June", "July"],
          datasets: [{
            label: "Usage",
            backgroundColor: "rgba(38, 185, 154, 0.31)",
            borderColor: "rgba(38, 185, 154, 0.7)",
            pointBorderColor: "rgba(38, 185, 154, 0.7)",
            pointBackgroundColor: "rgba(38, 185, 154, 0.7)",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointBorderWidth: 1,
            data: [4, 20, 50, 87, 120, 200, 230],
            fill: false,
          }, {
            label: "Call Limit",
            backgroundColor: "rgba(3, 88, 106, 0.3)",
            borderColor: "rgba(3, 88, 106, 0.70)",
            pointBorderColor: "rgba(3, 88, 106, 0.70)",
            pointBackgroundColor: "rgba(3, 88, 106, 0.70)",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(151,187,205,1)",
            pointBorderWidth: 1,
            data: Array(7).fill(100)
          }]
        },
        options: {

        }
      });
  	};
  showChart();
};
</script>
